.pic
 {
   margin: auto;
   display:block;

}
h1
 {
   text-align: center;
    color: black;
    font-family: verdana;
    font-size: 200%;
}
h2
  {
    text-align: center;
    color: black;
    font-family: verdana;
    font-size: 160%;
}
h3
  {
    margin-left: 90px;
    text-align: left;
    color: black;
    font-family: courier;
    font-size: 160%;
}
p
{
  margin-left: 90px;
  margin-right: 90px;
  font-size: 120%;
}
h4
  {
    text-align: left;
    color: black;
    font-family: courier;
    font-size: 160%;
}
ul{
  font-size: 120%;
}
h5
  {
    margin: auto;
    text-align: center;
    color: white;
    font-family: courier;
    font-size: 160%;
}
.PARA
  {
    text-align: center;
    color: black;
  align-items: center;
    font-size: 120%;
}

.main{
  height: 400px;
  width: 100%;
  position: relative;
}
.int{
  margin-left: 90px;
  position: absolute;
  float: left;
}h4
  {
    text-align: left;
    color: black;
    font-family: courier;
    font-size: 160%;
}
.spc{
  margin-left: 650px;
  position: absolute;
  float: left;
}
.pro{
  margin-left: 320px;;
  position: absolute;
  float: left;
}
footer{
  padding: 30px;
  height: 100px;
  background-color: black;
  text-align: center;

}
.fa{
  padding: 30px;
  width: 20px;
  margin:auto;
  color: white;
}
